<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="stylesheet" href="src/main.css">
  <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <span class="title">Выберите друзей</span>
            <div class="close">&#10133;</div>
        </div>
        <div class="main">
            <div class="left">
                <div class="wrap-search">
                    <div class="pic">&#128269;</div>
                    <input type="text" class="search" id="filter" placeholder="Начните вводить имя друга">
                </div>
                <div class="content">
                    <div class="list-title">Ваши друзья</div>
                    <ul class="list-all">
                        
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="wrap-search">
                    <div class="pic">&#128269;</div>
                    <input type="text" class="search" id="filter-selected" placeholder="Название">
                </div>
                <div class="content">
                    <div class="list-title">Друзья в списке</div>
                    <ul class="list-select">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="save" id="btn-save">Сохранить</div>
        </div>
    </div>

  <!-- <div class="container">
    <h1 id="headerInfo"></h1>

    <div id="results"></div>
  </div> -->

  <!-- <script id="user-template" type="text/x-handlebars-template">
    <div>
        <div><b>Список пользователей:</b></div>
        {{#each list}}
            <div>{{first_name}} {{last_name}}</div>
            <img src="{{photo_100}}">
        {{/each}}
    </div>
  </script>  -->
</body>
</html>
